{% extends 'base.html' %}
{% load static %}

{% block title %}
About Us
{% endblock title %}

{% block content %}

<article class="pt3 ph0">
        <div class=" bg-white-90 mt0 pa3 avenir">
            <header class="tc ph3 ">
                <h1 class="f3 f1-l measure lh-title fw2 mt0">- Our Mission -</h1>
                <time class="f5 f4-l px-1 db fw3 mb3 mb4-ns tracked"> To provide a fair bidding platform for it's users to win exciting prizes.</time>
                <h1 class="f3 f2-m f1-l measure lh-title fw2 mt0">About</h1>
                <!-- <img class="w-100 dib measure f3" src="http://mrmrs.github.io/photos/009.jpg" alt="A photo of sutro baths by Adam Morse" /> -->
            </header>
            <div class="w-90 fw3 db center f5-m f6 lh-title lh-copy-l  wrap tc tj">
                <p>
                    Here we provide a platform for our users where they can buy and participate in our live sessions to win exciting gifts. In our buisness if you find any discomfort from our side we will provide full refund if reason satisfies our terms and conditions. We conduct many different sessions and manage them fairly and make sure that all the lucky users get their assured gifts. Don't miss any chance to participate in our live sessions and win some really amazing prizes.
                </p>
                <p>
                    Due to high prices many people are not able to buy bids and loose their chance to be a winner and win some prizes. Our aim is to solve these problems by providing bids at economical prices. To make it affordable for everyone and give them chance to enjoy our services.
                </p>


            </div>
        </div>
    </article>
    <article class="">
        <h2 class="bg-white-90 fw4 f5 tracked f4-ns pa4-ns avenir tc pa2">
            <i><q>We gaurantee, if you use our sevice once,<br> then you will definitely come back to us.  </q></i>
        </h2>
    </article>
    <article class="ph0 ">
        <div class="bg-white-90 mt0 pa4-ns avenir">
            <div class=" white">
                <article class="ba bg-primary pa2 w-100 w-50-ns">
                    <div class="  aspect-ratio aspect-ratio--6x4">
                        <div class="flex flex-column items-center justify-center absolute w-100 h-100 top-0 left-0">
                            <h1 class=" tc mv3">Our Promise</h1>
                            <p class=" tc ph0 ma0 pv3 lh-copy ">To deliver the assured prize to the winner of the contest.</p>
                        </div>
                    </div>
                </article>
                <article class="ba bg-danger pa2 w-100 w-50-ns">
                    <div class="  aspect-ratio aspect-ratio--6x4">
                        <div class="flex flex-column items-center justify-center absolute w-100 h-100 top-0 left-0">
                            <h1 class=" tc mv3">Trustworthy</h1>
                            <p class=" tc ph0 ma0 pv3 lh-copy ">If we are not able to provide services then we promise you to refund the bids back.</p>
                        </div>
                    </div>
                </article>
            </div>
            <div class=" white">
                <article class="ba bg-success pa2 w-100 w-50-ns">
                    <div class="  aspect-ratio aspect-ratio--6x4">
                        <div class="flex flex-column items-center justify-center absolute w-100 h-100 top-0 left-0">
                            <h1 class=" tc mv3">Affordable</h1>
                            <p class=" tc ph0 ma0 pv3 lh-copy ">We here provide bids at affordable price which enable users to get a chance to win the contest. </p>
                        </div>
                    </div>
                </article>
                <article class="ba bg-dark pa2 w-100 w-50-ns">
                    <div class="  aspect-ratio aspect-ratio--6x4">
                        <div class="flex flex-column items-center justify-center absolute w-100 h-100 top-0 left-0">
                            <h1 class=" tc mv3">Reliable</h1>
                            <p class=" tc ph0 ma0 pv3 lh-copy "> You can contact us at any point of time and we will get back to you as soon as possible. </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </article>
    <!-- FOOTER -->
    <footer class="pa4 pa5-l black-70 bt b--black-10">
        <div class="db">
            <p class="f7 black-70 mt4 tc">
                Copyright © Bid2Win 2020
            </p>
        </div>
    </footer>
{% endblock content %}