{% extends 'base.html' %}
{% load static %}

{% block title %}
Terms & Conditions
{% endblock title %}

{% block content %}

<article class="pt3 ph0">
        <div class=" bg-white-90 mt0  avenir">
            <header class="tc ">
                <h1 class="f4 f3-m f2-l measure lh-title fw2 ma0 pa2 bg-dark text-light">Terms & Conditions</h1>
                <!-- <img class="w-100 dib measure f3" src="http://mrmrs.github.io/photos/009.jpg" alt="A photo of sutro baths by Adam Morse" /> -->
            </header>
            <div class="w-90 fw3 db center f5-m f6 lh-title lh-copy-l  wrap tc pa3 tj">
                <ul class="ph1">
                    <li class="pa1">Once the bids are purchased, money will not be refunded/returned.</li>
                    <li class="pa1">Once bought bids are valid till lifetime.</li>
                    <li class="pa1">Applied bids can't be cancelled / once bid is applied user can't get it back.</li>
                    <li class="pa1">Only Gmail accounts can be used for Sign Up / Login.</li>
                    <li class="pa1">If user finds any kind of server related problems, inform us we will get back to you surely.</li>
                    <li class="pa1">Result of winner will be announced within 5hrs after session has been completed.</li>
                    <li class="pa1">Users from the states of Assam, Telangana and Odisha kindly do not participate in this game, as under the State laws, you are not eligible for the playing as well as gratification.</li>
                </ul>
            </div>
        </div>
</article>

<article class="pt3 ph0">
    <div class=" bg-white-90 mt0  avenir">
        <header class="tc ">
            <h1 class="f4 f3-m f2-l measure lh-title fw2 ma0 pa2 bg-dark text-light">Privacy Policy</h1>
            <!-- <img class="w-100 dib measure f3" src="http://mrmrs.github.io/photos/009.jpg" alt="A photo of sutro baths by Adam Morse" /> -->
        </header>
        <div class="w-90 fw3 db center f5-m f6 lh-title lh-copy-l  wrap tc pa3 tj">
            <ul class="ph1">
                <li class="pa1">Privacy Policy is applied to each and every users that are registering as well as registered. </li>
                <li class="pa1">We protect the user's personal and non-personal data so that all users feel comfortable while sharing their information with us.</li>
                <li class="pa1">We do not share or sell user related data.</li>
                <li class="pa1">We may amend this policy from time to time.</li>
            </ul>
        </div>
        <div class="w-90 fw3 db center f5-m f6 lh-title lh-copy-l  wrap tc pa0 pb2  tj">
            If you have any questions regarding this privacy policy, please contact us on mail at <a href="mailto:{{email}}">{{email}} </a>
        </div>
    </div>
</article>

<!-- FOOTER -->
<footer class="pa4 pa5-l black-70 bt b--black-10">
    <div class="db">
        <p class="f7 black-70 mt4 tc">
            Copyright © Bid2Win 2020
        </p>
    </div>
</footer>
{% endblock content %}